################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

Thumbs.db
*.suo
*.exe
*.log
*.user
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
packages
/WebAPI/WebApiTest/App_Data/upload
/WebAPI/.vs/config
/.vs/config
